*
{
box-sizing: border-box;
}


.card {
width: 295px;
height: 375px;
background-color:#FAF4EF;
border-bottom-left-radius: 25px;
border: 1px;
margin-top:150px;



}

.text {
    padding-top: 20px;
    padding-right: 75px;
    width: 289.48px;
    height: 54px;
    color: #4b4b4b;
}

.price {
   
    margin-top: 40px;
    margin-right: 200px;
}
